.box {
    min-width: max-content;
    height: 150px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    border-image-slice: 42 42 42 42;
    border-image-width: 42px 42px 42px 42px;
    border-image-outset: 0px 0px 0px 0px;
    border-image-repeat: round round;
    border-image-source: url("https://mdn.mozillademos.org/files/6017/border-image-6.svg");
}

.myLi {
    list-style-type: none;
}